.mobile-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2rem 1rem;
    z-index: 10;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--ui-black);
    border: solid 1px var(--ui-gray);
    border-radius: 0.2rem;
}

.planet-list {
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    top: 4.5rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;

    button {
        pointer-events: auto;
        padding: 0rem 1rem 0rem 0rem;
        background: var(--ui-black);
        border: solid 1px var(--ui-gray);
        border-radius: 10rem;
    }
}

.menu-button {
    position: absolute;
    top: 1rem;
    left: 1rem;

    background: var(--ui-black);
    border: solid 1px var(--ui-gray);
    padding: 5px;
    border-radius: 10rem;
}

.desktop-menu {
    width: max-content;
    display: flex;
    gap: 2rem;
    padding: 0.5rem 1rem;

    background: var(--ui-black);
    border: solid 1px var(--ui-gray);
    border-radius: 0.2rem;
}

.planet-nav {
    z-index: 10;
    top: 1rem;
    width: 100%;
    max-height: max-content;
    position: absolute;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.audio-ctrls {
    z-index: 11;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.jam-ctrls {
    z-index: 10;
    bottom: 1rem;
    width: 100%;
    max-height: max-content;
    position: absolute;
    display: flex;
    flex-direction: column;
    place-items: center;
}