.switches-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 7rem;
    min-width: 100px;
    height: 100%;

    top: 1rem;
    right: 1rem;

    z-index: 10;
}

.signalscope-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;

    bottom: 2rem;

    z-index: 10;
}

.toggles-container {
    position: absolute;
    display: flex;
    gap: 3rem;
    width: 100%;
    height: fit-content;
    justify-content: center;

    bottom: 7rem;

    z-index: 10;
}

.navigation-container {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}