.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: fit-content;
    gap: 0.5rem;

    font-family: var(--ui-font);
    color: var(--ui-white);
}

.menu-button {
    cursor: pointer;
    padding: 0.25rem 1rem;
    font-family: var(--ui-font);
    font-weight: 600;
    color: var(--ui-white);
    background: var(--ui-black);
    border: solid 2px var(--ui-orange);
    border-radius: 0.25rem;

    &:hover {
        background: var(--ui-white);
        color: var(--ui-black);
    }
}

.menu-list {
    list-style: none;
    padding: 0.5rem 0.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    background: var(--ui-black);
    border: solid 2px var(--ui-orange);
    border-radius: 0.25rem;
}

.menu-item {
    display: flex;
    max-width: 100%;
    gap: 0.5rem;
}