.sound-button, .instrument-button {
    cursor: pointer;

    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0.5rem;
    gap: 0.25rem;

    background-color: #50505040;
    color: var(--ui-white);
    border: none;
    font-family: inherit;
    letter-spacing: 1px;

    transition: all 0.2s ease;

    @media (hover: hover){
        &:hover {
            background: var(--ui-white);
            color: var(--ui-black);
        }
    }
}

.instrument-button {
    flex-basis: 25%;
}

.instruments-panel {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;

    span {
        display: inline-flex;
    }
}

