.planet-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
        cursor: pointer;
        display: flex;
        align-items: center; /* Vertically align the content */

        .planet-icon {
            max-width: 50px; /* Set a specific width for the image */
            max-height: auto; /* Adjust height as needed */
        }
    }

    hr {
        margin: 0;
        width: 100%;
    }
    
}

.desktop-list {
    li {
        div {
            position: absolute;
            left: 120%;
            z-index: 10;
            width: max-content;
            user-select: none;
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.1s ease-in-out;
        }

        &:hover > div {
            opacity: 1;
        }
    }
}

.mobile-list {
    background: var(--ui-black);
    li {
        gap: 2rem;
        div {
            z-index: 10;
            width: max-content;
            user-select: none;
        }
    }
}
