*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {

    /* Typography */
    --ui-font: 'Jost Variable', sans-serif;

    /* Colors */
    --bg-color: rgb(5,5,5);

    --ui-orange: #FD7D34;
    --ui-white: #EDEDED;
    --ui-gray: #505050;
    --ui-blue: #7FD0D1;
    --ui-green: #71CE58;
    --ui-black: #050505;

}

html, body {
    overflow: hidden;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;

    background: var(--bg-color);
    color: var(--ui-white);
}

body {
    font-family: 'Space Mono', sans-serif;
    font-weight: 600;
}

.three-canvas {
    position: fixed !important;
}

